<ion-view view-title="Work">
  <ion-content>
    <ion-list >
        <ion-item ng-repeat="todo in work" class="item item-button-right" >
             <ion-checkbox class="todoItem" ng-model="todo.isChecked" ng-click= "taskComplete($index)">
             {{todo.title}}
            </ion-checkbox>
            <button class="button button-clear deleteBtn button-assertive" ng-click= "removeItem($index)">
              <i class="ion-minus-circled"></i>
            </button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
